<title>My application deployed automatically</title>
  <h1>Hello, World!This is my new title!</h1>

In the first and second form,enter a list of integers seperated by a newline character,
In the third and fourth form enter a string.
Index setted to first list of integer's ith element,if first strings ith char is a letter,it will be concatenated to result.
Same process goes with second list and string.Final concatenated string is the result.

 Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
	<textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

